<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %> -- <%- keywords %></title>
	<link href="/assets/css/style.css" rel="stylesheet">
</head>
<body>
	<div class="login">
		<span><label for="">账号：<input id="userName" type="text"></label></span>
		<span><label for="">密码：<input id="pwd" type="text"></label></span>
		<input type="button" value="登录收银台" id="login">
	</div>
	<div class="msg-show" id="msgBox"></div>
	<script src="/assets/js/lib/jquery-1.10.1.min.js"></script>
	<script src="/assets/js/login.js"></script>
</body>
</html>